extends layout

block head
  link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css")
  script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js')
  if i18n.locale == 'si'
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/locale/sl.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js', crossorigin="anonymous")
  script(defer type='text/javascript', src='/javascripts/admin.js')
  script(defer type='text/javascript', src='/javascripts/authentication.js')

block content
  div#authModal.modal.fade 
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title Modal Heading
          button.close( type="button" data-dismiss="modal")
        div.modal-body
          form#auth(method="post" action="/authenticate")
            div.form-group
              label(for="secret") #{i18n.__("Secret")}
              input#secret.form-control(type="password", name="secret")
              div.invalid-feedback #{i18n.__("Invalid secret")}
        div.modal-footer
          button.btn.btn-danger( type="button" data-dismiss="modal") Close
          input.btn.btn-primary(type="submit", value=i18n.__("Authenticate"))
  
  button.btn.btn-primary(type="button" data-toggle="modal" data-target="#authModal") Open modal
  div.container.p-0(style="max-width: 720px")
    div#cookieWarning.alert.alert-warning(role="alert" style="display: none") 
      | #{i18n.__("Warning")+': ' + i18n.__("Session has expired")+ '. ' + i18n.__("Authenticate at") + ' '}
      a(href='/authenticate') /authenticate
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#authModal") Open modal
      a(data-toggle="modal" data-target="#authModal") Open modal
    h1 #{i18n.__("Create ballot")}
    
    form#ballotForm(autocomplete="off")
      div.form-group
        label(for="title") #{i18n.__("Title")}
        input#title.form-control(type="text", name="title" required)
      div.form-group
        label(for="description") #{i18n.__("Description")}
        input#description.form-control(type="text", name="description" required)
        div.invalid-feedback
      div.form-group
        label(for="enddatetimepicker") #{i18n.__("End of voting")}
        div#enddatetimepicker.input-group.date( data-target-input="nearest")
          input.form-control.datetimepicker-input( type="text", data-target="#enddatetimepicker" name="endTime" required)
          div.input-group-append( data-target="#enddatetimepicker", data-toggle="datetimepicker")
            div.input-group-text
              i.far.fa-calendar-alt
        
      div.options.form-group
        label #{i18n.__("Options")}
        ul#optionsUl.list-group
        div.input-group
          input#optionInput.form-control(type="text" name="optionInput")
          div.input-group-append
            button#addOptionBtn.btn.btn-outline-secondary(type="button") #{i18n.__("Add")}
          
      input.btn.btn-primary(type="submit", value=i18n.__("Create").toUpperCase())

    hr
    div#ballotErrorBar.alert.alert-danger(role="alert", style="display: none")
    div#ballotSuccessBar.alert.alert-success(role="alert", style="display: none")
    ul.options.list-group
      each ballot in ballots
        li.list-group-item.d-flex.align-items-center
          span.mr-auto.title= ballot.title
          if !ballot.start && moment(ballot.end) > moment()
            button.btn.btn-outline-secondary.tokens.mx-2(style="margin: -2px 0; padding: 3px 9px;") #{i18n.__("Send tokens")}
          i.delete.far.fa-trash-alt   