extends layout

block head
  link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css")
  script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  script(src='/components/moment/moment.js')
  //- script(src='/components/jquery-validation/dist/jquery.validate.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js', crossorigin="anonymous")
  script(defer type='text/javascript', src='/javascripts/admin.js')

block content
  div.container(style="max-width: 700px")
    h1 #{i18n.__("Create ballot")}
    
    form#ballotForm(method="post")
      div.form-group
        label(for="title") #{i18n.__("Title")}
        input#title.form-control(type="text", name="title" required)
      div.form-group
        label(for="description") #{i18n.__("Description")}
        input#description.form-control(type="text", name="description" required)
        div.invalid-feedback
      div.form-group
        label(for="enddatetimepicker") #{i18n.__("End of voting")}
        div#enddatetimepicker.input-group.date( data-target-input="nearest")
          input.form-control.datetimepicker-input( type="text", data-target="#enddatetimepicker" name="endTime" required)
          div.input-group-append( data-target="#enddatetimepicker", data-toggle="datetimepicker")
            div.input-group-text
              i.far.fa-calendar-alt
        
      div.options.form-group
        label #{i18n.__("Options")}
        ul#optionsUl.list-group
        div.input-group
          input#optionInput.form-control(type="text" name="optionInput")
          div.input-group-append
            button#addOptionBtn.btn.btn-outline-secondary(type="button") #{i18n.__("Add")}
          
      input.btn.btn-primary(type="submit", value=i18n.__("Create"))

    hr
    div#ballotErrorBar.alert.alert-danger(role="alert", style="display: none")
    div#ballotSuccessBar.alert.alert-success(role="alert", style="display: none")
    ul.options.list-group
      each ballot in ballots
        li.list-group-item.d-flex.align-items-center
          span.mr-auto.title= ballot.title
          if !ballot.start
            button.btn.btn-outline-secondary.tokens.mx-2 #{i18n.__("Send tokens")}
          i.delete.far.fa-trash-alt   