extends layout

block head
  script(defer type='text/javascript', src='/javascripts/index.js')
  script(defer type='text/javascript', src='https://www.gstatic.com/charts/loader.js')

block content
  div#ballot.container.p-0(style="max-width: 720px")
    h1
      =ballot.title
    p 
      =ballot.description
    if moment(ballot.end) >= moment()
      if selected
        div.selected
          p You have voted for #{selected}
          button.revote.btn.btn-primary #{Change}
      
      form.vote(action=`api/vote/${ballot.title}`, method="post", style=`display:${selected ? 'none':'unset'}`)
        div.form-group
          label #{i18n.__("Choose an option")}:
          each option in ballot.options
            div.form-check
              input.form-check-input(type="radio" name="option" value=option.Name)
              label.form-check-label 
                =option.Name
        div.form-group
          label(for="token") #{i18n.__("Token")}
          input.form-control.token(id="token" name="token" value=token)
          div.valid-feedback #{i18n.__("Vote successfull")}
          div.invalid-feedback #{i18n.__("Vote unsuccessfull")}
        button.btn.btn-primary(type="submit" disabled=true) #{i18n.__("Vote")}
    else
      include includes/legend.pug