extends layout

block head
  script(defer type='text/javascript', src='/javascripts/index.js')
  script(defer type='text/javascript', src='https://www.gstatic.com/charts/loader.js')

block content
  div.container(style="max-width: 800px")
    h1= title
    br
    div#ballots
      each ballot, i in ballots
        div.card(class=i)
          div.card-header(id="heading"+i)
            h5.mb-0
              btn.btn.btn-link(data-toggle="collapse" data-target="#collapse"+i aria-expanded="false" aria-controls="collapse"+i)
                =ballot.title
          div.collapse(id="collapse"+i aria-labelledby="heading"+i data-parent="#ballots")
            div.card-body
              p 
                =ballot.description
              if moment(ballot.end) >= moment()
                form(action=`api/vote/${ballot.title}`, method="post")
                  div.form-group
                    label(for=i) #{i18n.__("Choose an option")}:
                    each option in ballot.options
                      div.form-check
                        input.form-check-input(type="radio" name="option" value=option.Name)
                        label.form-check-label 
                          =option.Name
                  div.form-group
                    label(for="token"+i) #{i18n.__("Insert token")}
                    input.form-control.token(id="token"+i name="token")
                    div.valid-feedback #{i18n.__("Vote successfull")}
                    div.invalid-feedback #{i18n.__("Vote unsuccessfull")}
                  button.btn.btn-primary(type="submit" disabled=true) #{i18n.__("Vote")}
              else
                div.row
                  div.col-7.chart(style="padding:0; min-height:200px")
                  div.col-md-5
                    table.table.table-sm.table-hover
                      thead
                        tr
                          th(scope="col") #{i18n.__("Option")}
                          th(scope="col") #
                          th(scope="col") %
                      tbody
                        each n, option in ballotsOptions[ballot.title].options
                          tr
                            td #{option == "undefined" ? i18n.__("undefined vote") : option}
                            td #{n}
                            td #{100*n/ballotsOptions[ballot.title].nVotes}